body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

i {
    font-size: 5px;
}

b {
    font-weight: bolder;
    color: goldenrod;
}

.section-one,
.section-two {
    background-color: #191919;
    color: #F7F7F7;
}
.section-one {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(135, 135, 135);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.section-two {
    display: flex;
    justify-content: center;
}

.section-two-content {
    max-width: 525px;
    font-size: 30px;
    padding: 20px 0;
}

.section-two-content p {
    font-size: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 35px;
}

.section-two-content img {
    margin-left: -100px;
    border-radius: 2px;
    object-fit: cover;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(57, 177, 83, 0.3);
}

.section-two-content h2 {
    text-align: center;
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAB162;
}

.section-three-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(57, 177, 83, 0.3);
}

.info p {
    text-align: center;
}

.header h2 {
    margin-right: -70px;
}

.section-two h2,
.section-two p{
    margin: 25px 0;
}

a{
    text-decoration: none;
    color: #F7F7F7;
}